h1 {
    padding: 2.5rem;
    margin: 3rem;
    font-size: 2rem;
    text-align: center;
    background: #f59542;
    color: #000000;
    border-radius: 5px;
}

h2.card-title {
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    border-bottom: solid 1px #22baac;
}
