{% extends 'blog/base.html' %}
{% block title %}My Blog{% endblock title %}
{% block content %}
<form action="" method="POST" accept-charset="utf-8">
    <table class="table">
        <tr>
            <th>タイトル</th>
            <td>{{ post.title }}</td>
        </tr>
        <tr>
            <th>本文</th>
            <td>{{ post.body }}</td>
        </tr>
        <tr>
            <th>日付</th>
            <td>{{ post.created_at }}</td>
        </tr>

    </table>
    <p>この記事を削除します</p>
    <button type="submit" class="btn btn-primary">削除</button>
    {% csrf_token %}
</form>
{% endblock content %}
